{% extends 'base.html.twig' %}

{% block title %}Modifier - {{ trick.title | capitalize }}{% endblock %}

{% block body %}
    {% set pictureOne = trick.pictures.last() %}
    {% set pictureOneURL = asset('uploads/pictures/' ~ pictureOne.URL) %}
    <header class="jumbotron jumbotron-fluid jumbotron-show" style="background: url('{{ pictureOneURL }}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
        <div class="container-fluid text-center"> 
            <h1 class="display-3">{{ trick.title | capitalize }}</h1> 
        </div>
    </header>
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center">
            {% for picture in trick.pictures | reverse %}
                <div class="card p-2 m-2 d-flex" style="width:250px">
                    <img class="card-img-top card-img-edit" src="{{ asset('uploads/pictures/' ~ picture.URL) }}" alt="Card image">
                    <div class="card-body card-body-index">
                        <div class="d-flex flex-row-reverse">
                            {{ include('picture/_delete_form.html.twig') }}
                            <a class="btn" href="{{ path('picture_edit', {'id': picture.id}) }}">{{ include('_utils/_pencil.html.twig') }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for video in trick.videos %}
                <div class="card p-2 m-2 d-flex" style="width:250px">
                    <iframe width="230" height="120" src="{{ video.URL }}" frameborder="0"></iframe>
                    <div class="card-body card-body-index">
                        <div class="d-flex flex-row-reverse">
                            {{ include('video/_delete_form.html.twig') }}
                            <a class="btn" href="{{ path('video_edit', {'id': video.id}) }}">{{ include('_utils/_pencil.html.twig') }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container" style="height:100%;">
            <div class="row">
                <div class="col-8 mx-auto mt-5">
                    {{ form_start(form) }}
                        {{ form_row(form.description, {'attr': { 'placeholder': 'Description du trick' }}) }}
                        {{ form_row(form.groupe) }}
                        {{ form_row(form.pictureFiles, {'label': 'Photo(s) à uploader'}) }}
                        <label for="">Videos</label>
                        {% for video in form.videos %}
                            {{ form_row(video, { 'attr': {'class': 'hidden-row'}}) }}
                        {% endfor %}
                        <div class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"></div>
                        <button class="btn btn-success">Modifier</button>
                    {{ form_end(form) }}

                    <form method="post" action="{{ path('trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Êtes vous sûr de vousloir supprimer ce trick?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                        <button class="btn btn-danger">Supprimer le trick</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
