{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}
    <header class="jumbotron jumbotron-fluid jumbotron-home">
        <div class="container-fluid text-center"> 
            <h1 class="display-3">SnowTricks</h1>
            <p class="lead pb-4">Le site des tricks en snowboard!</p>
        </div>
    </header>
    <div class="container">
        <h1>Accueil</h1>
        <hr>

        {% for trick in tricks %}
            {% set pictureOne = trick.pictures.last() %}
            <div class="card" style="width:400px">
                <a class="card-title" href="{{ path('trick_show', {'id': trick.id}) }}">
                    <img class="card-img-top" src="{{ asset('uploads/pictures/' ~ pictureOne.URL) }}" alt="Card image">
                </a>
                <div class="card-body">
                    <a class="card-title" href="{{ path('trick_show', {'id': trick.id}) }}">{{ trick.title }}</a>
                    {% if app.user %}
                        <a class="btn" href="{{ path('trick_edit', {'id': trick.id}) }}">{{ include('_utils/_pencil.html.twig') }}</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
