{% extends 'base.html.twig' %}

{% block title %}Trick - {{ trick.title }}{% endblock %}

{% block body %}
    {% set pictureOne = trick.pictures.last() %}
    {% set pictureOneURL = asset('uploads/pictures/' ~ pictureOne.URL) %}
    <header class="jumbotron jumbotron-fluid jumbotron-show" style="background: url('{{ pictureOneURL }}') no-repeat center;">
        <div class="container-fluid text-center"> 
            <h1 class="display-3">{{ trick.title }}</h1>
        </div>
    </header>
    <strong>Description :</strong>
    <p>{{ trick.description }}</p>
    <strong>Groupe :</strong>
    <p>{{ trick.groupe.name }}</p>
    <h2>Images</h2>
    {% for picture in trick.pictures %}
        <div class="card" style="width:400px">
            <img class="card-img-top" src="{{ asset('uploads/pictures/' ~ picture.URL) }}" alt="Card image">
            <div class="card-body">
                <a class="btn btn-success" href="{{ path('trick_show', {'id': trick.id}) }}">Afficher</a>
                {% if app.user %}
                    <a class="btn btn-primary" href="{{ path('trick_edit', {'id': trick.id}) }}">Modifier</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <h2>Videos</h2>
        {% for video in trick.videos %}
            <iframe width="300" height="200" src="{{ video.URL }}" frameborder="0"></iframe>
        {% endfor %}
    <hr>
    {% if app.user %}
        {{ include('comment/new.html.twig') }}
    {% else %}
        <p>Vous devez vous <a href="{{ path('user_login') }}">connecter</a> pour laisser un commentaire !</p>
    {% endif %}
    <hr>
    {% if trick.comments is empty %}
        <p>Aucun commentaire pour ce trick pour le moment!</p>    
    {% else %}
        {% for comment in trick.comments %}
            <img src="{{ asset('uploads/avatars/' ~ comment.user.avatar) }}" class="rounded-circle" width="75" height="75"> 
            <strong>{{ comment.user.userName }}</strong>
            <p>{{ comment.content }}</p>
        {% endfor %}
    {% endif %}

{% endblock %}
