{% extends 'base.html.twig' %}

{% block title %}Trick - {{ trick.title }}{% endblock %}

{% block body %}
    <h1>Trick</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ trick.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ trick.description }}</td>
            </tr>
            <tr>
                <th>Groupe</th>
                <td>{{ trick.groupe.name }}</td>
            </tr>
            <tr>
                <th>Images</th>
                {% for picture in trick.pictures %}
                    <td><img src="{{ asset('uploads/pictures/' ~ picture.URL) }}" width="300" height="200"></td>
                {% endfor %}
            </tr>
            <tr>
                <th>Videos</th>
                {% for video in trick.videos %}
                    <td><iframe width="300" height="200" src="{{ video.URL }}" frameborder="0"></iframe></td>
                {% endfor %}
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ trick.user.userName }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    {% if app.user %}
        {{ include('comment/new.html.twig') }}
    {% endif %}
    <hr>
    {% if trick.comments is empty %}
        <p>Aucun commentaire pour ce trick pour le moment!</p>    
    {% else %}
        {% for comment in trick.comments %}
            <strong>{{ comment.user.userName }}</strong>
            <p>{{ comment.content }}</p>
        {% endfor %}
    {% endif %}

{% endblock %}
