{% extends 'base.html.twig' %}

{% block title %}Modifier votre avatar{% endblock %}

{% block body %}
    <h1>Modifier votre avatar</h1>

    <img src="{{ asset('uploads/avatars/' ~ currentAvatar) }}" width="300" height="200">

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
{{ include('user/_delete_avatar_form.html.twig') }}
{% endblock %}
