{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container" style="min-height:100%;">
        <div class="row">
            <div class="col-8 mx-auto mt-5">
                <h1>{{ title }}</h1>

                {{ form_start(form) }}
                    {{ form_row(form.password, {
                    'label': 'Votre nouveau mot de passe',
                    'attr': { 'placeholder': 'Nouveau mot de passe' }
                        }) 
                    }}
                    {{ form_row(form.confirmPassword, {
                    'label': 'Confirmez votre nouveau mot de passe',
                    'attr': { 'placeholder': 'Confirmation nouveau mot de passe' }
                        }) 
                    }}
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}